AWS resources actually needed to run Open-MPIC

Hello,

we have been testing open-mpic for a while, now. Starting from the 10 sep commit, we noticed that deploying open-mpic on AWS requires a number of "extra" resources that have a significant impact on costs (compared to the cost of the "lambda" resource alone which is quite modest), therefore we would like to understand if those resources are actually all necessary or not. In particular, we'd like to understand what is the resource that AWS charges under the EC2-Other item (see chart below) and if it is possible to reduce its consumption; that resource accounts for 99% of the overall cost. If it's necessary, so be it - but we'd like to understand this better.

![immagine](https://github.com/user-attachments/assets/d11d7243-a846-40a0-b626-64d700a88256)

I apologize if this question is trivial, but in fact I personally don't know much about AWS and I'm not entirely clear on the mapping between the required AWS resources and the technical-functional-operational requirements of open-mpic.



Hi @defacto64 , thanks for your help in testing and debugging Open MPIC. There are a number of things that can fall under the "EC2-other" category (including elastic IP addresses and NAT gateway charges) , but this is still surprising. 
If you go to [Cost Explorer](https://aws.amazon.com/aws-cost-management/aws-cost-explorer/), filter by the "EC2-Other" service, and group by dimension "API operation" or "Usage type," you'll have a more granular view of what is being billed. (It would also be helpful for us and others to share those results here.)

Thank you for replying @gcimaszewski . By doing as you suggest, it turns out that the "offending" resource is **NatGateway**.
Do you believe it is expected? There may be a way to reduce significantly its consumption?

@defacto64 this is a "known issue" that we have run into due to how we are currently enabling DNSSEC validation (which requires Route 53 in AWS if we are sticking with AWS Lambda; the "default" DNS resolver that Lambda (or GCF for that matter) leverages does not support DNSSEC). There is a fairly high running cost associated with NatGateway so your finding corroborates our own.

This has prompted us to look at a few alternatives for how we might architect the deployment configuration of an open-mpic implementation. We are currently exploring a containerized approach that would enable us to not rely on Route 53 for DNS lookups, and furthermore may enable us to build a more hyperscaler-agnostic implementation.

In the meantime, this is nothing you're doing wrong but merely how the pricing works around the resources that the current configuration requires. We're hoping to address this because high fixed cloud costs can be a barrier to adoption and the goal of an open-mpic implementation is of course to encourage and enable adoption. 

we recently introduced a flag that allows DNSSEC validation to be turned off and then only the non-DNSSEC resources are provisioned. The new repo readme documents this.

Henry, thank you for your efforts in trying to solve the problem, however I am not sure if this is a good solution. 
DNSSEC validation is "strongly **RECOMMENDED**" when checking CAA records (see RFC8659 section 5.1). 
Therefore, turning it off means ignoring a strong recommendation... not ideal for a CA aiming to do things the right way.

Hi @defacto64 

I think these are good questions. I will first say I think there is an immediate need for the DNSSEC off flag to assist in the development of Open MPIC. When provisioning the VPCs and NAT gateways needed for DNSSEC, a simple integration test could easily cost a dev $10 and destroying the resources can take several hours (you often need to come back and run the command multiple times). Personally I feel for an open source project where many are contributing on their free time, putting a time and financial burden on contribution is counterproductive. Thus, I feel being able to disabled DNSSEC is needed for a development purpose.

In production the story is a bit different. I am a strong advocate of CAs running DNSSEC. Our research group at Princeton has had discussions with Clint Wilson regarding his proposed DNSSEC for CAA ballot (https://github.com/cabforum/servercert/tree/Require-DNSSEC-for-CAA-Lookups) and at some point in the future I intend to propose a ballot for DNSSEC on all DCV/CAA related DNS queries.

However, I am not completely clear if it is the place of the Open MPIC project to promote this simply by not having another option. As of today several prominent CAs do not perform DNSSEC validation of CAA lookups. Furthermore, if at some point in the future, if DNSSEC for all DCV/CAA was mandated by primary CA perspectives, ironically there would be very little if any need for open MPIC to do it. If you imagine a world where the primary perspective validates DNSSEC, in order for an adversary to bypass this check, the adversary must have access to a DNSSEC-signed set of records that permits issuance. If the adversary has these, then it could just as easily serve these records to the remote MPIC perspectives. I cannot think of a  case where the adversary is 1) capable of passing a DNSSEC check at the primary perspective, 2) capable of bypassing MPIC with unsigned but is NOT capable of bypassing MPIC with signed records.

Thus, I somewhat feel a flag is the best option for now. If the flag exists, it should be documented. Which is what the current solution is: a flag that defaults to DNSSEC = true, but is covered in the documentation.

One other point to clarify, if someone were to issue a PR incorporating the [unbound python bindings](https://unbound.docs.nlnetlabs.nl/en/latest/developer/python-modules.html) and had a way of pulling this dependency in cleanly with hatch on all of our deployment environments (essentially it would probably have to be a pypi package which I do no think it currently is) and the overhead of this was minimal, I would be inclined to approve.

it seems for the time being the resolution to this is the two separate deploy commands: lambda:deploy-no-dnssec and lambda:deploy-dnssec . Also, the current draft of SC085 does not mandate DNSSEC by MPIC perspectives meaning both of these would be compliant.